.data-filters {
  padding: 0;
  background-color: #fff;
  margin-bottom: 30px; }
  .data-filters.-expanded .data-filters-header {
    cursor: default; }
  .data-filters .data-filters-header {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #007dbb;
    padding: 15px;
    cursor: pointer; }
  .data-filters .data-filters-body {
    padding: 10px; }
    .data-filters .data-filters-body .row {
      margin: 0; }
      .data-filters .data-filters-body .row > div {
        padding: 0; }
    .data-filters .data-filters-body .form-group {
      margin-bottom: 5px; }
  .data-filters .data-filters-footer {
    text-align: center;
    padding-bottom: 10px; }
