.metrics-filters {
  text-align: center; }
  .metrics-filters > .metrics-row {
    display: flex;
    justify-content: center; }
    .metrics-filters > .metrics-row:not(:last-child) {
      margin-bottom: 5px; }
    .metrics-filters > .metrics-row > .metric {
      font-size: 11px;
      cursor: pointer;
      padding: 0 5px; }
      .metrics-filters > .metrics-row > .metric > .metric-image {
        height: 30px;
        padding: 3px;
        display: block;
        margin: auto; }
      .metrics-filters > .metrics-row > .metric.-selected > .metric-image {
        border: 1px solid #007dbb;
        border-radius: 20px; }
